mixin icon(text)
	span(title=text)&attributes(attributes): span.sr-only #{text}
doctype html
html(xmlns='http://www.w3.org/1999/xhtml', lang='en')
	head
		title Résumé
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='author', content='Luis Marsano')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
	body
		//-
			2 pages at most
			showcase most important information on 1st page
			readable design
			3–4 bullet points of relevant experience
			use good whitespace, don't cram, easy to skim
			spellcheck
			save as pdf (preserve formatting)
			use a non-terrible e-mail address
			answer politely
		header
			h1 Luis Marsano
			address.contact
				dl
					dt: a(href='tel:+15026329019'): +icon('Telephone').fas.fa-phone
					dd: a(href='tel:+15026329019') 502 632 9019
					dt: a(href='mailto:luis.marsano@gmail.com'): +icon('E-mail').far.fa-envelope
					dd: a(href='mailto:luis.marsano@gmail.com') luis.marsano@gmail.com
					// website & github
					dt: a(href='//github.com/lmmarsano'): +icon('GitHub').fab.fa-github
					dd: a(href='//github.com/lmmarsano') github.com/lmmarsano
					dt: a(href='//linkedin.com/in/lmmarsano'): +icon('Linkedin').fab.fa-linkedin
					dd: a(href='//linkedin.com/in/lmmarsano') linkedin.com/in/lmmarsano
					//- linkedIn
		main
			//- section
				header: h2 Summary
				p.
					Technical consultant who promotes transparency and integrity, and who endeavors to advance responsive, usable systems that eliminate repetition and serve all users in meeting all their operational needs.
					3+ years experience in technical support, #[abbr(title='Information Technology') IT] administration, web development & administration, scripted automation.
			section.skills
				// corroborate: tie skills to training or project or work below
				header: h2 Technical Skills
				//- languages, databases, operating systems
					Corroborate skills with projects underneath
				dl
					dt Formal Languages
					dd.
						C,
						#[abbr(title='Cascading StyleSheets') CSS],
						#[abbr(title='European Computer Manufacturers Association') ECMA] Script/JavaScript,
						F#,
						Fortran,
						PERL,
						POSIX shell scripting,
						PowerShell,
						Python,
						Scheme,
						SQL,
						TeX,
						Visual Basic,
						#[abbr(title='eXtensible HyperText Markup Language') XHTML],
						#[abbr(title='eXtensible Markup Language') XML]
					//- dt Computer Programming
					dd.
						Practice functional, object-oriented, imperative, declarative programming disciplines.
						Have education writing interfaces, writing commands that dispatch on type using deferred evaluation.
					dt #[abbr(title='Information Technology') IT] Administration
					dd Active Directory, Group Policy, System Center Configuration Manager, POSIX shell scripting
					//- dt Mathematical Analysis
						dd Create proofs, verify proofs, test validity, produce counterexamples.
					dt Operating Systems
					dd Comfortable in Linux, Windows, MacOS.
					//- dt Office Applications
						dd Work with word processing, spreadsheets, databases. Capable of automating repetitive tasks.
					// list as non-technical
			section
				header: h2 Nontechnical Skills
				dl
					dt Natural Languages
					dd Speak Spanish fluently. Speak and write English fluently.
			section.edu
				// &amp; education: list training like treehouse
				header: h2 Education
				ol
					li
						dl
							dt Science bachelor degree
							dt Pure Mathematics
							dd University of Louisville
							dd Louisville, Kentucky
							dd 2013
			section.exp
				//- education: list courses by broad topic
				header: h2 Experience
				section
					header: h3 Professional Development
					dl
						dt Code Louisville (Treehouse)
						dd 2018
						dt Data Science (Python, SQL)
						dd 2018
						dt Full-Stack Web Development (Node, Koa, Mongo)
						dd 2018
						dt Front End Web Development (HTML, CSS, JavaScript)
						dd 2018
				section
					h3 Projects
					dl
						// name, link (github) 1–3 sentence description
						dt Geospatial Analysis
						dd
							a(href='//github.com/lmmarsano/geospatial')
						dd.
							A data analysis exercise to practice technologies learned from Code Louisville: Python, Pandas, SQL.
							Database extensions are used to perform spatial joins.
						dt marsano:~$
						dd
							a(href='//github.com/lmmarsano/journal') github.com/lmmarsano/journal
						dd.
							Accessible website exhibiting code learned in and outside of training.
							Features template usage, webpack bundling, preprocessed languages.
				section
					header: h3 Technical Experience
					//- match keywords in description (beware automated filters)
						 list achievements: made, saved, achieved
						 verb + context + impact
						 attempt to quantify
					dl
						dt Technician/Administrative Associate
						dd University of Louisville
						dd Louisville, Kentucky
						dd (reduction in force) May 2014–August 2017
						dd.summary
							ul
								//- accomplishments: made, saved, achieved
									money made, time saved
									verb + context + impact
									past tense for former roles
									present tense for current job
									toot your horn: post work as accomplishments
									eg, improved efficiency
									up to 10 years history is fine
									highlight skills you want to use
								li Saved time and improved maintenance and productivity by instructing myself and implementing methods to administrate computer systems across an entire department, remotely configure and control them, automate software installations and updates, centralize malware alerts, and enable users to remotely access their workstations.
								li Boosted productivity by enhancing technical support quality &amp; response time with costless, remote service methods.
								li Promoted a research conference by creating and administrating a web site to organize it and collect registrations.
								li Saved time, improved quality, and reduced manual error with scripts I wrote to produce budget and expense tracking reports out of diverse, poorly structured input.
						dt Technical Support
						dd University of Louisville
						dd Louisville, Kentucky
						dd December 2007–February 2008
						dd.summary
							ul
								li Troubleshoot students’ software problems.
						dt Physics Research Assistant
						dd University of Louisville
						dd Louisville, Kentucky
						dd January 2004–December 2007
						dd.summary
							ul
								li Assist a professor in coding a computational model and present his findings.
								li Informally update professor and assistants’ knowledge on development tools.
						dt Mathematics Teaching Assistant
						dd University of Michigan
						dd Ann Arbor, Michigan
						dd January 2004–December 2004
						dd.summary
							ul
								li Grade coursework for Advanced Calculus, Linear Algebra, Elementary Mathematics.
				section
					header: h3 Customer Service Experience
					dl
						dt Cashier
						dd Holiday Manor Kroger
						dd Louisville, Kentucky
						dd February 2009–November 2010
						dd.summary
							ul
								li Thoroughly assist customers and ensure their needs are satisfied.
								li Process orders at registers and supervise self-checkouts.
								li Informally train coworkers on operating the registers and processing infrequent types of payment.
						dt Server
						dd Tokyo Japanese Restaurant
						dd Louisville, Kentucky
						dd May 2006–August 2007
						dd.summary
							ul
								li Deliver prompt service and continued follow-up.
								li Perform multiple support tasks (busing, cleaning, food preparation, dining area setup and closing) under supervisor’s direction.
				section
					header: h3 Warehouse Experience
					dl
						dt Package Loader and Sorter
						dd United Parcel Service
						dd Louisville, Kentucky
						dd September 2010–February 2011
						dd.summary
							ul
								li Inspect, screen, and load packages with care.
								li Follow safe practices.
						dt Data Entry
						dd Swift & Company
						dd Louisville, Kentucky
						dd August 2007–September 2008
						dd.summary
							ul
								li Prepare shipment manifests and submit data to billing.
			section
				header: h2 References
				p Available on request
		footer.footer
			hr
			p
				a(href='http://validator.w3.org/check?uri=referer')
					img(src='http://www.w3.org/Icons/valid-xhtmlbasic10', alt='Valid XHTML 1.0!')
